#nav_bar {
  float: right;
  list-style-type: none;
  margin: 0;
  margin-right: 50px;
  padding: 0;
  overflow: hidden;
}

#nav_bar li {
  float: left;
  margin: 20px 0;
  padding: 5px 10px;
}

#nav_bar li:active {
  background-color: rgba(85, 47, 255, 0.979);
}

#google_logo {
  position: absolute;
  top: 20%;
  left: 40%;
}

#form-search {
  position: absolute;
  top: 35%;
  margin: 0 33%;
  width: 33%;
  height: 30px;
  border-radius: 50px;
}

.buttons {
  position: absolute;
  top: 45%;
  margin: 0 42%;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(240, 232, 232);
  width: 100%;
  height: 50px;
}

.footer-left {
  float: left;
  list-style-type: none;
}

.footer-left li {
  display: inline-block;
  color: gray;
  margin-right: 10px;
}

.footer-right {
  float: right;
  list-style-type: none;
  margin-right: 10px;
}

.footer-right li {
  display: inline-block;
  margin: 0 10px;
  color: gray;
}
a {
  text-decoration: none;
}
